@model IEnumerable<ConsultaDisparos.Models.DisparosErroSemAssociacaoModel>
    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Consulta disparos erro sem associação</h2>

    <table class="table">
        <tr>
            <th>idDisparo</th>
            <th>flgDisparado</th>
            <th>flgEnfileirado</th>
            <th>txtNome</th>
            <th>dataAgendamento</th>
            <th>dataExpiracao</th>
            <th>nomeBase</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.idDisparo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flgDisparado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flgEnfileirado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txtNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataAgendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataExpiracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeBase)
            </td>
        </tr>
        }

    </table>
